<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs", {title: "Reegalo - Como regalar"}) %>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>

    <!-- Header del Sitio -->

    <%- include("./partials/header.ejs") %>

      <section class="comofunciona">
        <div>
            <p class="titulo-pasos">¿Cómo funciona?</p>
        </div>
        <div class="pasos">
            <div class="detalle-paso">
                <div><i class="fas fa-mouse-pointer imagen-paso"></i></div>
                <div class="descripcion-paso">
                    <p class="pasos-titulos">Elegi</p>
                    <p>Selecciona la experiencia que mas te guste</p>
                </div>
            </div>
            <div class="detalle-paso ">
                <div><i class="fas fa-gift imagen-paso"></i></div>
                <div class="descripcion-paso">
                    <p class="pasos-titulos">Compra</p>
                    <p>Compra y envia tu regalo a la persona que quieras</p>
                </div>
            </div>
            <div class="detalle-paso">
                <div><i class="far fa-smile-wink imagen-paso"></i></div>
                <div class="descripcion-paso">
                    <p class="pasos-titulos">Recorda</p>
                    <p>Compra y envia tu regalo a la persona que quieras</p>
                </div>
            </div>

        </div>
    </section>

    <div>
        <p class="padding-1por center-text eleccion-titulo"> Elegi tu proximo regalo</p>
    </div>
    <div>
        <p class="padding-1por center-text eleccion-subtitulo">Escapadas</p>
    </div>

    <section class="padding-1por">

        <div class="regalo">
            <article class="ficha-regalo">
                <div class="contenedor-imagen"><img src="/images/sanmartindelosandes.jpg" alt="Escapada"
                        class="imagen-regalo"></div>
                <div class="caract-regalo">
                    <div>
                        <p class="titulo-regalo">Escapada a San Martin de los Andes</p>
                    </div>
                    <div>
                        <p class="detalle-regalo">Disfruta de la tranquilidad de la naturaleza.</p>
                    </div>
                    <div class="puntuacion-regalo">
                        <i class="fas fa-star estrella-regalo"></i>
                        <p>4.5</p>
                    </div>
                    <div class="accion-regalo">
                        <div class="detail">Detalle</div>
                        <div class="shop">Comprar</div>
                    </div>
                </div>
            </article>
            <article class="ficha-regalo">
                <div class="contenedor-imagen"><img src="/images/Escapada.jpg" alt="Escapada" class="imagen-regalo">
                </div>
                <div class="caract-regalo">
                    <div>
                        <p class="titulo-regalo">Un lugar tranquilo</p>
                    </div>
                    <div>
                        <p class="detalle-regalo">Disfruta de la tranquilidad de la naturaleza.</p>
                    </div>
                    <div class="puntuacion-regalo">
                        <i class="fas fa-star estrella-regalo"></i>
                        <p>4.5</p>
                    </div>
                    <div class="accion-regalo">
                        <div class="detail">Detalle</div>
                        <div class="shop">Comprar</div>
                    </div>
                </div>
            </article>
            <article class="ficha-regalo">
                <div class="contenedor-imagen"><img src="/images/escapada2.jpg" alt="Escapada" class="imagen-regalo">
                </div>
                <div class="caract-regalo">
                    <div>
                        <p class="titulo-regalo">Mendoza y sus encantos</p>
                    </div>
                    <div>
                        <p class="detalle-regalo">Disfruta de la tranquilidad de la naturaleza.</p>
                    </div>
                    <div class="puntuacion-regalo">
                        <i class="fas fa-star estrella-regalo"></i>
                        <p>4.5</p>
                    </div>
                    <div class="accion-regalo">
                        <div class="detail">Detalle</div>
                        <div class="shop">Comprar</div>
                    </div>
                </div>
            </article>
            <article class="ficha-regalo">
                <div class="contenedor-imagen"><img src="/images/Bariloche.jpg" alt="Escapada" class="imagen-regalo">
                </div>
                <div class="caract-regalo">
                    <div>
                        <p class="titulo-regalo">Escapada magica a Bariloche</p>
                    </div>
                    <div>
                        <p class="detalle-regalo">Disfruta de la tranquilidad de la naturaleza.</p>
                    </div>
                    <div class="puntuacion-regalo">
                        <i class="fas fa-star estrella-regalo"></i>
                        <p>4.5</p>
                    </div>
                    <div class="accion-regalo">
                        <div class="detail">Detalle</div>
                        <div class="shop">Comprar</div>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <!-- Footer del Sitio -->

    <%- include("./partials/footer.ejs") %>

</body>

</html>