<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <%- include("./partials/head.ejs", {title: "Reegalo - Test"}) %>
        <link rel="stylesheet" href="/stylesheets/app.css">
        <link rel="stylesheet" href="/stylesheets/test.css">
    </head>
</head>

<body>
    <%- include("./partials/header.ejs") %>
    <section class="container-bg">
        <section class="container-pr">
            <section class="products">
                <% for(let i=0;i<=6;i++) { %>
                <section class="product-card">
                    <figure class="product-card-image">
                        <img src="" alt="">
                    </figure>
                    <article class="product-card-box"></article>
                </section>
                <% } %>
            </section>
        </section>
    </section>


    <%- include("./partials/footer.ejs") %>
</body>

</html>