/* Estilo */

.center-text {text-align: center;}

img {
  max-width: 100%;
  max-height: 100%;
}


/* Estructura */

.d-flex {display: flex;}
.flex-direct-row {flex-direction: row;}
.flex-grow0-5 {flex-grow: 0.5;}
.justify-around {justify-content: space-around;}
.justify-bet {justify-content: space-between;}
.padding-2por {padding:2%;}
.padding-1por {padding:1%;}
.padding-5por {padding:5%;}
.subtitulos {font-size: 1.5em;}

/* Banner */

.banner{
  width: 100%;
  height: 300px;
}

.banner-letters{
  box-sizing: border-box;
  font-size: 2em;
  color: white;
  padding-left: 5%;
  font-family: 'Montserrat-SemiBold';
  padding: 8%;
}


/* Categorias */

div.categorias {
  
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

div.categoria-regalo {
  width: 180px;
  height: 70px;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  object-fit: scale-down;
  border-radius: 12px;
}

.categoria-link {
  color: white;
  font-size: 1em;
  text-decoration: none;
  font-style: "Montserrat-SemiBold";
}

/* Detalle regalo */

.regalo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.ficha-regalo{
  background-color: white;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  text-align: center;
  padding:1%;
}

.caract-regalo{
  flex-grow: 1;
}

.contenedor-imagen{
  height: 268px;
}

.imagen-regalo{
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.titulo-regalo{
  font-family: Montserrat-SemiBold;
  font-size: 1em;
  color: black;
  padding: 3vh 0;
  height: 80px;
  text-align: left;
}

.detalle-regalo{
  font-size: 1em;
  color: gray;
  text-align: left;
  height: 280px;
}

.puntuacion-regalo{
  display: flex;
  justify-content: flex-end;
  padding:1%;
}
.estrella-regalo{
  color:gold;
}

.accion-regalo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2vh 0;
}

.detail {
  background-color: white;
  color: var(--azulreegalo);
  text-align: center;
  padding: 2%;
  margin-right: 2%;
  margin-left: 5%;
  width: 150px;
  border: 1px solid var(--azulreegalo);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.detail:hover {
  color: var(--azulregalostrong);
  border: 1px solid var(--azulregalostrong);
}

.shop {
  background-color: var(--azulreegalo);
  color: white;
  text-align: center;
  padding: 2%;
  margin-left: 2%;
  margin-right: 5%;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

.shop:hover {
  background-color: var(--azulregalostrong);
}

/* Pasos */

.comofunciona{
  padding: 2%;
}

.titulo-pasos{
  text-align: center;
  padding: 2% 0;
  font-size: 18px;
}

.pasos{
  display: flex;
  justify-content: space-around;
  margin: 2%;    
}

.detalle-paso{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-basis: 100%;

}

.descripcion-paso .pasos-titulos{
  color: black;
  font-size: 1em;
}

.imagen-paso{
  flex-grow: 0.5;
  font-size: 5em;
  margin-bottom: 4%;
}

.descripcion-paso{
  flex-grow: 0.5;
  text-align: center;
  margin: 2%;
  color: gray;
  font-size: 1em;
}

/****************** Nosotros ************************/


.container-nosotros{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2%;
}

.nosotros-text, .nosotros-img{
  flex-grow: 0.45;
}
.nosotros-text{
  width: 50%;
}
.nosotros-text h1, .categories{
  margin:2% 2% 2% auto;
}

/****************** Formulario Contacto ************************/


.container-contacto{
  margin: 5%;
}

.texto-contacto-pagina h1, .texto-contacto-pagina p{
  margin:2% 2% 2% auto;
}

div.container-contacto-form{
  width: 800px;
  background-color: #FFFFFF;
  padding: 2% 2%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}



.form-contacto {
  height: 330px;
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}

.container-email-consulta,
.container-nombre-consulta,
.container-descripcion-consulta{
  background-color: rgb(211, 211, 211, 0.2);
  height: 50px;
  border-radius: 6px;
  border: 1px solid gainsboro;
  padding: 1.2%;
  width: 100%;
  font-size: 2em;
  display: flex;
}

input[type=email], input[type=text], select, textarea {
  background-color: transparent;
  width: 100%;
  font-size: 0.7em;
  font-family: Montserrat-Light;
  margin: auto 2%;
  border-style: hidden;
  outline: none;
  opacity: 0.4;
}


.boton-consultar {
  width: 70%;
  height: 50px;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: var(--azulreegalo);
  border: none;
  width: 100%;
  height: 100%;
  font-size: 1.3em;
  border-radius: 8px;
  color: white;
}

button:hover {
  background-color: var(--azulregalostrong);
}


/* Media Queries */
/* Tablet */
@media (max-width: 992px) {

  .ficha-regalo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 1%;
    flex-grow: 1;
    flex-basis: 0;
    width: 20%;
  }

  .contenedor-imagen {
    height: 150px;
  }

  .regalo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

/* Mobile L */

@media (max-width: 425px) {

  .banner{
    height: 250px;
  }
  
  .banner-letters{
    
    font-size: 2em;
    color: white;
    padding-left: 5%;
    font-family: 'Montserrat-SemiBold';
  }

  .ficha-regalo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 1%;
    flex-grow: 1;
    flex-basis: 0;
    width: 45%;
  }

  .contenedor-imagen {
    height: 180px;
  }

  div.categorias {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  div.categoria-regalo  {
    width: 130px;
    height: 50px;
    margin: 2% 0;    
  }

  .categoria-link {
    color: white;
    font-size: 0.7em;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat-SemiBold'
  }

  .regalo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  /* Pasos */

  .comofunciona{
    padding: 2%;
  }

  .titulo-pasos{
    font-size: 1em;
    margin: 2% 0;
  }

  .pasos{
    margin: 2% 0;
  }

  .pasos-titulos{
    color: black;
    font-size: 12px;
  }

  .imagen-paso{
    flex-grow: 0.5;
    font-size: 2em;
    margin-bottom: 4%;
    padding: 4%;
  }

  .descripcion-paso{
    flex-grow: 0.5;
    text-align: center;
    margin: 2%;
    color: grey;
    font-size: 10px;
  }

  .descripcion-paso span{
    font-size: 12px;
    color: black;
  }

  .descripcion-paso p{
    font-size: 10;
    color: gray;
  }


  .eleccion-titulo{
    font-size: 1em;
    margin-top: 5%
  }

  .eleccion-subtitulo{
    font-size: 0.8em;
  }

  .titulo-regalo,
  .detalle-regalo{
    font-size: 0.8em;
  }

  .detalle-regalo{
    margin-bottom: 2%;
  }
}

/****************** Mobile S ************************/

@media (max-width: 320px) {
  .banner-letters{
    box-sizing: border-box;
    font-size: 1.5em;
    color: white;
    padding-left: 5%;
    font-family: 'Montserrat-SemiBold';
  }
  
  .banner{
    height: 170px;
  }

  div.categorias {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  div.categoria-regalo  {
    width: 150px;
    height: 50px;
    margin: 2% 0;    
  }

  .categoria-link {
    font-size: 0.8em;
    font-family: 'Montserrat-SemiBold'
  }

  .regalo{
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .titulo-regalo,
  .detalle-regalo{
    font-size: 0.3em;
  }
  
  .detalle-regalo{
    margin-bottom: 2%;
    font-size: 0.5em;
  }

  .titulo-regalo{
    font-size: 0.7em;
  }

  /* Pasos */

  .comofunciona{
    padding: 5% 2%;
  }

  .titulo-pasos{
    font-size: 1em;
    margin: 2% 0;
  }

  .pasos{
    margin: 2% 0;
  }

  .pasos-titulos{
    color: black;
    font-size: 12px;
  }

  .imagen-paso{
    flex-grow: 0.5;
    font-size: 2em;
    margin-bottom: 4%;
    padding: 4%;
  }

  .descripcion-paso{
    flex-grow: 0.5;
    text-align: center;
    margin: 2%;
    color: grey;
    font-size: 10px;
  }

  .descripcion-paso span{
    font-size: 12;
  }

  .descripcion-paso p{
    font-size: 10;
    color: gray;
  }

  .eleccion-titulo{
    font-size: 1em;
    margin-top: 5%
  }

  .eleccion-subtitulo{
    font-size: 0.8em;
  }

  .titulo-regalo {
    font-size: 0.8em;
    height: 40px;
  }

  .detalle-regalo{
    margin-bottom: 2%;
    font-size: 0.8em;
  }

  .puntuacion-regalo{
    font-size: 0.8em;
  }

  .imagen-regalo{
    flex-grow: 1;
    height: 100%px;
    width: 100%;
  }

  .contenedor-imagen{
    height: 150px;
  }

  .detail,
  .shop {
    font-size: 0.8em;
  }
}