.container-nosotros{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2%;
}

.nosotros-text, .nosotros-img{
    flex-grow: 0.45;
}

.nosotros-text{
    width: 50%;
}

.nosotros-text h1, .categories{
    margin:2% 2% 2% auto;
}