.container-bg{
    width: 100%;
    background-color: salmon;
    padding: 1% 5%;
}

.container-pr{
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    padding: 1% 5%;
}

.products{
    width: 100%;
    background-color: tomato;
    display: flex;
    flex-flow: row wrap;
    flex-direction: flex-end;
}

.product-card {
    width: 25%;
    height: 400px;
    background-color: gold;
    border: 2px solid brown;
    margin-bottom: 1%;
}