* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat-SemiBold'; ;
}

/* Estilo */

.center-text {text-align: center;}
:root {
  --gris: #F9F8F8;
  --azulreegalo: #18A0FB;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold.ttf')
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.ttf')
}

img {
  max-width: 100%;
  max-height: 100%;
}


/* Estructura */

.d-flex {display: flex;}
.flex-direct-row {flex-direction: row;}
.flex-grow0-5 {flex-grow: 0.5;}
.justify-around {justify-content: space-around;}
.justify-bet {justify-content: space-between;}
.padding-2por {padding:2%;}
.padding-1por {padding:1%;}
.padding-5por {padding:5%;}




/* Header */

header.navigation {
  background-color: white;
  font-size: 10px;
  margin: 1.5vh auto;
  font-family: Montserrat-Regular;
  display: flex;
  flex-direction: row;
}

.logo {
  max-width: 190px;
  padding-left: 2vh;
  padding-right: 4vh;
  flex-grow: 1;
  align-items: center;
}

.logo-navigation {
  max-width: 100%;
}

.top-navigation {
  padding: 1%;
  flex-grow: 0.4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav a {
  color:black;
  text-decoration: none;
}

.fa-chevron-down {
  font-size: 1vh;
}

.buscador {
  text-align: right;
  flex-grow: 1;
  padding: 1%;
}

.fa-search {
  color: black;
  font-size: 17px;
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 0.4;
  padding:1% 0%;
  
}

.sign-in {
  background-color: white;
  color: var(--azulreegalo);
  text-align: center;
  width: 43%;
  padding: 0.7vh;
  border: 1px solid var(--azulreegalo);
  border-radius: 5px;
}

.sign-up {
  background-color: var(--azulreegalo);
  color: white;
  text-align: center;
  width: 43%;
  padding: 0.7vh;
  border-radius: 5px;
}

.carrito {
  text-align: center;
  flex-grow: 0.05;
  padding: 1%;
}

.fa-shopping-cart {
  color: black;
  padding-top: 0.5vh;
  font-size: 15px;
}




section.indicador {
  background-color: var(--gris);
}

p.indicador {
  font-size: 30px;
  font-family: Montserrat-SemiBold;
  padding-left: 2vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

div.detalle-carrito {
  background-color: ghostwhite;
}

section.recomendados {
  background-color: white;
}





/* Banner */

.banner{
  width: 100%;
}

.banner-letters{
  position: absolute;
  top: 25%;
  font-size: 3em;
  color: white;
  padding-left: 5%;
  font-family: 'Montserrat-SemiBold';
}

/* Detalle regalo */

.regalo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ficha-regalo{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  flex-grow: 0.20;
  padding:1%;
}

.caract-regalo{
  flex-grow: 0.5;
}

.imagen-regalo{
  flex-grow: 0.5;
}

.titulo-regalo{
  font-size: 1em;
  color: black;
  padding: 2vh 0;
  text-align: left;
}

.detalle-regalo{
  font-size: 1em;
  color: gray;
  padding: 2vh 0;
  text-align: left;
}

.puntuacion-regalo{
  display: flex;
  justify-content: flex-end;
  padding:1%;
}
.estrella-regalo{
  color:yellow;
}

.accion-regalo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2vh 0;
}


/* Pasos */

.comofunciona{
  padding: 2%;
}

.titulo-pasos{
  text-align: center;
  padding: 2% 0;
  font-size: 18px;
}

.pasos{
  display: flex;
  justify-content: space-around;
  
    
}

.detalle-paso{
  display: flex;
  flex-direction: column;
  flex-grow: 0,33;
  text-align: center;
}

.imagen-paso
{
  flex-grow: 0.5;
  font-size: 5em;
}

.descripcion-paso{
  flex-grow: 0.5;
  text-align: center;
  margin: 2%;
}


/* Footer */

footer {
  border-top: 1px solid gray;
}


.datos-contacto {
  font-family: 'Montserrat-Light';
}

footer div nav a {
  color:black;
  text-decoration: none;
}

.social-media {
  width: 30%;
  height: 20px;
  display: flex;
  justify-content: space-around;
}

.logo-footer {
  width: 30%;
  height: 20px;
  display: flex;
  justify-content: center;
}

.mercadopago-footer {
  width: 30%;
  height: 20px;
  display: flex;
  justify-content: flex-end;
}

footer.navigation {
  background-color: ghostwhite;
}




