<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs", {title: "Reegalo - Registro"}) %>
    <link rel="stylesheet" href="/stylesheets/app.css">
    
</head>

<body>

    <!-- header del Sitio -->

    <%- include("../partials/header.ejs") %>


    <div class="msj-logout">   
        <div style="margin: 5%;"><div ><img src="/images/logo-reegalo-mini-blue.png" alt="Reegalo" class="logo-navigation"></div>
            
            <div>
            <p>Que lastima que te vayas :(</p>
            <p>¡Te esperamos pronto!</p>
            <p><a href="/">Home</a></p>
            </div>
        </div>
    </div>

    <!-- Footer del Sitio -->

    <%- include("../partials/footer.ejs") %>

</body>

</html>