<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs", {title: "Reegalo - Registro"}) %>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.5.2/validator.min.js" integrity="sha512-vZEoK8xRncku4g5GANHh5zobUjeCMbZkSEahrADeAcRlk/1Ignf8sAKojkV4RZLkPw145+ILJFisI2pnjsPtGQ==" crossorigin="anonymous"></script>
    <script src="/javascript/validationregister.js" defer></script>
</head>

<body>

    <!-- header del Sitio -->

    <%- include("../partials/header.ejs") %>


    <section class="register">
        <div class="container-register">
            <p class="titulo-register">Bienvenido a</p>
            <div class="container-logo-register">
                <img src="/images/logo-reegalo-blue.png" alt="" class="logo-register">
            </div>
            <form class="form-register" method="POST" action="/usuarios/registro" enctype="multipart/form-data">
                <div class="container-email-register">
                    <div class="container-fa-user">
                        <i class="far fa-user" style="width: 30px;"></i>
                    </div>
                    <input type="text" name="name" id="name" placeholder="Nombre y Apellido *">
                </div>
                <div class="container-email-register">
                    <div class="container-fa-envelop">
                        <i class="far fa-envelope" style="width: 30px;"></i>
                    </div>
                    <input type="email" name="email" id="email" placeholder="Coreo electrónico *">
                </div>
                <div class="container-password-register">
                    <div class="container-fa-key">
                        <i class="fas fa-key" style="width: 30px;"></i>
                    </div>
                    <input type="password" name="password" id="password" placeholder="Contraseña *">
                </div>
                <div class="container-password-repeat">
                    <div class="container-fa-key2">
                        <i class="fas fa-key" style="width: 30px;"></i>
                    </div>
                    <input type="password" name="passwordrepeat" id="passwordrepeat"
                        placeholder="Confirmar contraseña *">
                </div>
                <div class="container-fecha-nacimiento">
                    <div class="container-fa-birthday-cake">
                        <i class="fas fa-birthday-cake" style="width: 30px;"></i>
                    </div>
                    <span class="texto-fecnac">Fecha de nacimiento *</span>
                    <input type="date" name="fecnac" id="date">
                </div>
                <div class="container-img-perfil">
                    <div class="container-fa-camera">
                        <i class="fas fa-camera" style="width: 30px;"></i>
                    </div>
                    <span class="texto-perfil">Imagen de perfil *</span>
                    <input type="file" name="profile" id="profile" />
                </div>
                <% if (typeof errors != 'undefined') { %>
                <% errors.forEach(function(error) { %>
                <div class="error-messages">
                    <span>‣ <%= error.msg %></span>
                </div>
                <% }) %>
                <% } %>
                <div class="contenedor-register">
                    <button type=“submit” class="boton-register">Registrarse</button>
                </div>
            </form>
            <div class="boton-google">
                <div class="logo-google">
                    <img src="/images/logo-google.png" alt="Google" class="logo-google">
                </div>
                <p class="texto-google">Iniciar sesión con Google</p>
            </div>
            <div class="boton-facebook">
                <div class="logo-facebook">
                    <img src="/images/logo-facebook.png" alt="Facebook" class="logo-facebook">
                </div>
                <p class="texto-facebook">Iniciar sesión con Facebook</p>
            </div>
            <div class="ingresar">
                <span>¿Tenés cuenta? </span><a href="/usuarios/login">Ingresá acá.</a>
            </div>
        </div>
    </section>

    <!-- Footer del Sitio -->

    <%- include("../partials/footer.ejs") %>

</body>

</html>